.page{
    position: relative;
}
.page-container {
    display: flex;
    /* border: 1px yellow solid; */
    justify-content: flex-start;
    
}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: space-around;
    width: 60%;
    /* border: 1px solid green; */
    padding: 10px 10px;
}
.day{
    width: 40%;
    background: aqua;
    border: 5px solid aquamarine;
    border-radius: 10px;
    margin-bottom: 20px;
    /* padding-left: 20px;
    padding-top: 20px; */
}
.equipment-schedule-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.equipment-schedule{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;

    
}
/* .rent{
    display: none;
} */
.resume{
    /* border: 1px solid red; */
    width: 40%;
}
/* cet div est ajouté en js, voir calendar-index.js */
.detail-equipment-container{
    position: absolute;
    z-index: 15;
    top: 25px;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px 0px;
    background-color: #FFF;
    border-radius: 10px;
}

.equipment-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    
}
.item-detail {
    padding: 20px 0px;
}
.equipment-images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: space-between;
    width: 30%;

}
.item-image{
    display: block;
    width: 100%;
    height: 100px;
    
}
.equipment-schedule{
    position: relative;
}

.rent-book{
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    padding: 20px 0px;
    background-color: #FFF;
    border-radius: 10px;
}

.close-div-resume{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background: red;
}